PREFIX=m$
OWNER=BOT OWNER USER ID
BOTID=DISCORD BOT USER ID
WEBSOCKETSERVER=WEBSOCKET SERVER ADDRESS
YT=YOUTUBE API KEY
TWITCH=TWITCH API KEY
TOKEN=DISCORD BOT TOKEN
BOT_IDENTIFIER=IDENTIFIER FOR WEBSOCKET SERVER