NODE_NO_WARNINGS=1

# BOT CONFIG
OWNER=
CLIENT_ID=
PREFIX=m$
SHARDS=0

# ADDRESSES
MONGODB=mongodb://localhost:27017/
WEBSOCKET=wss://localhost:8443/
LAVALINK=6666

# TOKENS
TOKEN=
YT=
SOUNDCLOUD=
TWITCH=
BOT_IDENTIFIER=