PREFIX=m$
OWNER=BOT OWNER USER ID
BOTID=BOT USER ID
WEBSOCKET=wss://localhost:8443/ # Connect over HTTPS
TOKEN=BOT TOKEN
YT=YOUTUBE API KEY
TWITCH=TWITCH API KEY
BOT_IDENTIFIER=BOT IDENTIFIER SAME WITH MIYAKO-DASHBOARD